* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

buttun {
  border: none;
  cursor: pointer;
}

body {
  font-family: "Open Sans", sans-serif;
  background: white;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #222222;
}

::-webkit-scrollbar-thumb {
  background: rgb(110, 115, 131);
  border-radius: 10px;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.main-container {
  width: 80%;
  margin: 0 auto;
}

#header {
  padding-top: 20px;
  height: 70px;
  position: relative;
  fill: rgba(355, 355, 355, 0.5);
  backdrop-filter: blur(20px);
  position: fixed;
  z-index: 99;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-text a {
  color: #253659;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 0 40px;
  transition: 0.4s;
}

.header-text a:hover {
  text-decoration: underline;
  color: #009ee3;
  font-size: 17px;
}

.header-img img {
  z-index: 99;
}

.header3 img {
  width: 100px;
}

.header-nav {
  width: 70px;
  height: 24px;
  border-radius: 30px;
  border: 1px solid #253659;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
}

.header-nav:active {
  color: red;
}

.header3 img {
  position: absolute;
  top: 0;
  left: 0;
}

.header4 img {
  position: absolute;
  top: 0;
  right: 0;
}

.header-card {
  z-index: 99;
}

.header-nav h5 {
  width: 34px;
  height: 20px;
  border-radius: 30px;
  border: 1px solid #253659;
  background: #253659;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-nav h4 {
  color: #253659;
  font-size: 12px;
  font-weight: 400;
}

.header-card h4 {
  color: #253659;
  font-size: 14px;
  font-weight: 400;
}

.hero {
  background: url(https://s3-alpha-sig.figma.com/img/aedc/570f/003260304ae5991e4fede29832146b9e?Expires=1702857600&Signature=iJ4MDMGDOfQEyaXEzvj7NLwIbQfogURaIrt~ou8hzylRYJyr0-EjwQa4Ay1y4K45fHRMzYAf34RCPhO~O0373v3aGxevI5Z3w9ppM8uQirae~QyZqfTSu~qXk6G5Xmq06PIDZvgJR87AZ5R~YwfdnEv9rqvwW4McWo5yq0l-gKi~9dDTzeCog1v~wuPkMGJsvdwuEK1TWnRhoi6VhSxO7zDqEKWZgtcb9uYaa99BQyuwFO03i6crjSPGVSkxXk0vt6HR6Wytwj13eBfl7UT7MIF1gGKLGQC5dbKlSWwVEZrdP8QowiDNmhuEFdk-ruCY3zIbRkjoDDH3Bodn~VrScQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
  background-size: cover;
  width: 900px;
  height: 700px;
}

.hero-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero h1 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 600;
  padding: 550px 0 0 40px;
}

.hero-card {
  display: flex;
  align-items: center;
  padding-left: 40px;
}

.hero-card img {
  z-index: 99;
}

.hero-card h3 {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  padding: 0 5px;
  z-index: 12;
}

.hero-card h6 {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  z-index: 99;
}

.hero-card h2 {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  z-index: 99;
}

.hero-card h4 {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  padding-left: 30px;
  z-index: 99;
}

.hiro-img img {
  position: absolute;
  top: 0;
}

.chat img {
  position: absolute;
  right: 40px;
  bottom: 40px;
}

/* #main {
  padding-top: 150px;
} */

.main h1 {
  color: #253659;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 600;
}

.main-menu h1 {
  color: #253659;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 600;
  padding-top: 60px;
}

.main-menu h2 {
  color: #253659;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 25.2px */
  letter-spacing: 1.8px;
}

.main-mein {
  padding-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.main-card {
  width: 110px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid #253659;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-card h4 {
  color: #253659;
  font-size: 14px;
  font-weight: 600;
}

.main-card2 {
  width: 119px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid #253659;
  background: #253659;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-card2 h4 {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.main-card3 {
  width: 128px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid #253659;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-card3 h4 {
  color: #253659;
  font-size: 14px;
  font-weight: 600;
}

.hiro-card {
  width: 104px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid #253659;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.main-bottom {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.hiro-card h4 {
  color: #253659;
  font-size: 14px;
  font-weight: 600;
}

.main-cards h4 {
  width: 93px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid #253659;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-cards h4 {
  color: #253659;
  font-size: 14px;
  font-weight: 600;
}

.main-cards2 {
  width: 102px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid #253659;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-cards2 h4 {
  color: #253659;
  font-size: 14px;
  font-weight: 600;
}

.main-cards3 {
  width: 102px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid #253659;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-cards3 h4 {
  color: #253659;
  font-size: 14px;
  font-weight: 600;
}

.main-block {
  width: 174px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid #253659;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.main-block h4 {
  color: #253659;
  font-size: 14px;
  font-weight: 600;
}

#first {
  background: url(https://s3-alpha-sig.figma.com/img/8051/5f82/e9bb912feb204e733563e3fd72ec83e5?Expires=1702857600&Signature=mPQhLZpKomqjfMtsF4tFuQBRFQNvDC-WRk7pPYWJcQeyaeANQzL3kJkklc0wV06DM9ky~L869Q10tXi8UGhrXgeMwBkrvZYlp5jzWF7D4JLKdtzmeHANIZi8TnfmnMRxc268vopwBUDqK2CquOfI2PzzuMjl1c~q4vepj4Js8N~YMfkFyFt1pzrnNPv0hRscfj8WHSy-OsS1-O0lJorgnFffcqbAE-MSWvYvnDvdzacLF0mHc-CWCL4Bjiq99u8KF00witnCoVjZVramZKvEa-~XuD1yuO1HDa7cBktrJLO7E0mfDx7HI~xN-AcoeB927epjjvB9F-rxuj7vYUse8A__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.first {
  padding-top: 206px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.first-img img {
  width: 500px;
}

.first-card {
  width: 440px;
  height: 420px;
  background: rgba(37, 54, 89, 0.8);
  backdrop-filter: blur(2px);
}

.first-card {
  padding: 40px 0 0 40px;
}

.first-card h1 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 140%; /* 33.6px */
}

.first-card input {
  width: 300px;
  height: 60px;
  border: 1px solid #fff;
  color: white;
  background: transparent;
  outline: none;
  padding-left: 20px;
  margin: 30px 0;
}

#uson {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
}

.first-btn button {
  width: 217px;
  height: 60px;
  background: #fff;
  color: #253659;
  font-size: 18px;
  font-weight: 600;
  outline: none;
  border: none;
}

#footer {
  background: #3e5273;
  padding-top: 40px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-tel {
  display: flex;
  align-items: center;
}

.footer-top {
  display: flex;
  align-items: center;
}

.footer-nav p {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  padding-top: 20px;
}

.footer-card h4 {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.footer-card h5 {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding-top: 20px;
}

.footer-card2 h1 {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.footer-card2 h5 {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.footer-tel {
  margin-top: 20px;
}

.footer-tel h5 {
  padding-left: 10px;
}

.footer-tel span {
  color: #009ee3;
  font-size: 20px;
}

.footer-card3 h1 {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.footer-card3 img {
  margin-top: 20px;
}

.footer-card4 h1 {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.footer-top span {
  color: #009ee3;
  font-size: 20px;
}

.footer-top p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  padding-left: 10px;
}

.footer-main hr {
  margin-top: 100px;
}

.footer-mein {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-cards p {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}

.footer-cards2 h6 {
  color: #009ee3;
  font-size: 10px;
  font-weight: 400;
  text-decoration-line: underline;
}

.footer-top {
  padding-top: 20px;
}

.footer-cards2 {
  font-size: 15px;
}

.footer-cards2 h5 {
  color: #fff;
  font-size: 10px;
  font-weight: 400;
}

.footer-cards2 h5 span {
  color: #009ee3;
  font-size: 10px;
  font-weight: 400;
}

.footer-mein {
  padding: 22px 0 19px 0;
}

#mooter {
  background: #3e5273;
}
